@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #7F6EEE;
    --color-secondary: #6B5BB8;
    --color-accent: #9a8df2;

    --color-background: #0A0A0A;
    --color-background-alt: #191919;
    --color-text: #BDBDBD;
}

[data-theme="dark"] {
    --color-background: #0A0A0A;
    --color-background-alt: #191919;
    --color-text: #BDBDBD;
}

[data-theme="light"] {
    --color-background: #FFFAFA;
    --color-background-alt: #DCDCDC;
    --color-text: #1A1A1A;
}

[data-color="violet"] {
    --color-primary: #7F6EEE;
    --color-secondary: #6B5BB8;
    --color-accent: #9a8df2;
}

[data-color="red"] {
    --color-primary: #EE6E7F;
    --color-secondary: #B86B5B;
    --color-accent: #f29a8d;
}

[data-color="gold"] {
    --color-primary: #EEBA6E;
    --color-secondary: #B88F5B;
    --color-accent: #f2d39a;
}

[data-color="green"] {
    --color-primary: #6EEE7F;
    --color-secondary: #5BB86B;
    --color-accent: #9af2d3;
}

[data-color="blue"] {
    --color-primary: #6E7FEE;
    --color-secondary: #5B6BB8;
    --color-accent: #9aadef;
}

[data-color="cyan"] {
    --color-primary: #6EE7FF;
    --color-secondary: #5BB8C8;
    --color-accent: #9af2ff;
}

[data-color="pink"] {
    --color-primary: #EE6EFF;
    --color-secondary: #B85BB8;
    --color-accent: #f29aff;
}

[data-color="orange"] {
    --color-primary: #FF8C6E;
    --color-secondary: #B86B5B;
    --color-accent: #ffb99a;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Custom minimalist scrollbar */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 transparent; /* Firefox */
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 100px; /* Rounded corners */
}

*::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar arrows */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.taskbar-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.taskbar-button:hover {
    color: #ff0000; /* Change color on hover */
}