@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #7F6EEE;
    --color-secondary: #6B5BB8;
    --color-accent: #9a8df2;

    --color-background: #0A0A0A;
    --color-background-alt: #191919;
    --color-text: #FFFFFF;
    --color-text-alt: #BDBDBD;
}

[data-theme="dark"] {
    --color-background: #0A0A0A;
    --color-background-alt: #191919;
    --color-text: #FFFFFF;
    --color-text-alt: #BDBDBD;
}

[data-theme="light"] {
    --color-background: #FFFAFA;
    --color-background-alt: #DCDCDC;
    --color-text: #1A1A1A;
    --color-text-alt: #4D4D4D;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Custom minimalist scrollbar */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 transparent; /* Firefox */
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 100px; /* Rounded corners */
}

*::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar arrows */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.taskbar-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.taskbar-button:hover {
    color: #ff0000; /* Change color on hover */
}

/* Toast Customization */
.Toastify__toast {
  background-color: var(--color-background-alt) !important;
  color: var(--color-text) !important;
  border-radius: 8px !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.Toastify__progress-bar {
  background: var(--color-primary) !important;
}

.Toastify__progress-bar--success {
    background: var(--color-accent) !important;
}

.Toastify__close-button {
  color: var(--color-text-alt) !important;
  opacity: 0.7;
}

.Toastify__close-button:hover {
  color: var(--color-text) !important;
  opacity: 1;
}