@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Custom minimalist scrollbar */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 transparent; /* Firefox */
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 100px; /* Rounded corners */
}

*::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar arrows */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.taskbar-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.taskbar-button:hover {
    color: #ff0000; /* Change color on hover */
}